<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Squaredesk GmbH and Oliver Dotzauer.
  ~
  ~ This program is distributed under the squaredesk open source license. See the LICENSE file
  ~ distributed with this work for additional information regarding copyright ownership. You may also
  ~ obtain a copy of the license at
  ~
  ~   https://squaredesk.ch/license/oss/LICENSE
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory">
			<ref bean="jmsQueueConnectionFactory" />
		</property>
		<property name="receiveTimeout" value="10000" />
	</bean>

	<bean id="jmsQueueConnectionFactoryInternal" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiTemplate">
			<ref bean="jndiTemplate" />
		</property>
		<property name="jndiName">
			<value>${connectionFactory}</value>
		</property>
	</bean>

	<bean id="jmsQueueConnectionFactory"
		class="org.springframework.jms.connection.UserCredentialsConnectionFactoryAdapter">
		<property name="targetConnectionFactory" ref="jmsQueueConnectionFactoryInternal" />
		<property name="username" value="${user}" />
		<property name="password" value="${password}" />
	</bean>

	<bean id="jndiTemplate" class="org.springframework.jndi.JndiTemplate">
		<property name="environment">
			<props>
				<prop key="java.naming.factory.initial">
					com.sun.jndi.fscontext.RefFSContextFactory
				</prop>
				<prop key="java.naming.provider.url">
					${jndi.providerUrl}
				</prop>
			</props>
		</property>
	</bean>


</beans>